.chain {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1300px;
  margin: 0 auto;
  flex-wrap: wrap;
  overflow-x: hidden;
}
.h2 {
  width: max-content;
  border-radius: 20px;
  padding: 4px 20px;
  text-align: center;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  margin: 10px auto;
}
@media (max-width: 768px) {
  .chain {
    flex-direction: column;
  }
}
